.fer{
  position: relative;
  left: 30px;
width: 100px;
height: 50px;}

.crp{
  position: relative;
  left: 60px;
width: 100px;
height: 50px;

}


@media screen and (max-width: 480px) {
  .fer{
    text-align: center;
  }
  .crp{
    text-align: center;
  }
  h3{
    text-align: center;
  }
}
